# Análise de Dados

Análise de dados, aprendizado de máquina (_Machine Learning_), _Data Science_, Inteligência Artificial. O que tudo isso tem em comum? 

Todas giram em torno de **manipular e transformar dados em informações úteis**, em geral para que nós humanos tomemos decisões melhores. E analisar os dados é a primeira coisa que um profissional dessas carreiras vai fazer. Um Cientista de Dados só conseguirá montar um modelo preditivo de vendas se entender mais dos dados, por exemplo. 

Por isso, vamos começar essa série de aulas conhecendo os dados. E nada mais divertido do que analisar os dados da Copa do Mundo de 2022 no Qatar!

# Jupyter Notebooks

Jupyter Notebooks é uma das ferramentas mais queridinhas de um cientista de dados. Provavelmente o motivo disso é ser um ambiente extremamente versátil, que permite rodar trechos de códigos por partes, criar anotações com detalhes e figuras, imagens dinâmicas que respondem com mouse etc. Ou seja, o inverso do que um terminal comum costuma fazer (rs). 

Se estás com problemas para usá-lo ou precisa instalá-lo, veja detalhes no arquivo `README_VIRTUALENV.md` na raiz deste projeto.

Vamos entender o basicão de notebooks.

## Células

Um notebook é dividido em células, tantas quantas forem necessárias. Cada célula roda um trecho de código, de forma que você pode seguir uma linha de raciocínio enquanto explora os dados. A ideia por trás disso é que, ao fazer análise de dados, precisamos iterar várias vezes, rodar pequenas partes para entender melhor, e ainda manter uma visão cronológica das células em ordem. 

Exercício:
- crie células abaixo desta e as apague. Crie e apague usando a aba superior ou com atalhos.

Os notebooks têm 2 modos de navegação: _ Edit mode and Command mode_. O primeiro é quando você consegue editar o que há nas células; no segundo você navega entre células. Com `Esc` você entra no modo comando (navegação), com `Enter` você entra no modo edição.

Exercício: 
- Fique do modo de comando e navegue pelas células. Depois, entre no modo comando e experimente editar algo nesta célula. Use "Ctrl+Enter" para executar o que há nas células e ver sua alteração.

## Markdowns

A maioria das pessoas que já teve contato com tecnologia já entende como escrever em markdowns, e aqui não é diferente. Use um ou vários `#` para criar títulos em níveis, `-` para bullet points, `>` para citações, entre outras coisas como hyperlinks ([mais detalhes sobre markdowns no jupyter](https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd)).

Outra grande funcionalidade é escrever equações com LaTeX, muito usada em exatas, como:
$$\vec{F} = m \cdot \vec{a}$$

Exercício:
- Faça uma célula abaixo e treine alguns títulos diferentes, usando um ou vários `#`. Experimente fazer bullet points e identá-los também.

Extra:
- se tiver interesse em saber mais sobre LaTeX, veja um post [resumido aqui](https://www.overleaf.com/learn/latex/Learn_LaTeX_in_30_minutes).

## Bash

Seu amigo terminal não está sozinho. As células aqui podem executar comandos em `bash` através de "comandos mágicos", que são caracteres usados logo no início da célula. No caso do bash, é o `!`:

In [1]:
!ls

'Aula 1 - Análise de Dados.ipynb'

# Chega! Me mostre os dados!

Chega de enrolação. Vamos ver logo os dados da Copa? Afinal, **pra quê** você gostaria de saber o que há de informação sobre os dados da copa? Será que podemos extrair padrões de lá? Entender times fortes, padrões históricos e muito mais?

Toda análise de dados começa vendo os dados. Esses dados são um compilado já feito sobre partidas de futebol em todo o mundo de 1872 a 2022. A fonte dele é o [Kaggle](https://www.kaggle.com/datasets/brenda89/fifa-world-cup-2022).

## `pandas`

`pandas` é provavelmente a biblioteca mais usada em ciência de dados, do básico ao avançado. Ela foi criada por _Wes McKinney_ em um fundo de investimentos de 2007 a 2010, sendo liberada para open-source em 2009.


> Dica de ouro #1: não ter medo de ver a implementação das coisas aos poucos! [github do projeto](https://github.com/pandas-dev/pandas) aqui.

> Dica de ouro #2: procurar dúvidas na própria [documentação](https://pandas.pydata.org/docs/), preferencialmente!

Curiosidade: como se vê o primeiro commit de um projeto?

In [9]:
# Resposta
# git log --reverse

# hide_toggle()

NameError: name 'hide_toggle' is not defined

In [11]:
import pandas as pd

In [12]:
!ls ../../datasets/predictions

quatar2022_features.csv

In [13]:
!head -n 10 ../../datasets/predictions/quatar2022_features.csv

date,home_team,away_team,tournament,city,country,neutral_location,year,home_team_fifa_rank,home_team_total_fifa_points,home_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_fifa_rank,away_team_total_fifa_points,away_team_goalkeeper_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
2022-11-20,Qatar,Ecuador,FIFA World Cup,Al Khor,Qatar,False,2022,52,1437,,,,,46,1452,71.0,73.5,76.0,74.5
2022-11-21,Senegal,Netherlands,FIFA World Cup,Doha,Qatar,True,2022,20,1584,83.0,79.0,80.7,79.0,10,1658,81.0,85.2,83.0,83.5
2022-11-21,England,Iran,FIFA World Cup,Al Rayyan,Qatar,True,2022,5,1761,83.0,85.0,88.0,84.0,21,1564,73.0,69.0,75.3,69.0
2022-11-21,United States,Wales,FIFA World Cup,Al Rayyan,Qatar,True,2022,15,1633,77.0,75.8,77.7,75.8,18,1588,74.0,75.0,73.0,78.5
2022-11-22,Argentina,Saudi Arabia,FIFA World Cup,Lusail,Qatar,True,2022,4,1765,84.0,82.2,89.0,84.0,49,1444,70.0,72.8,67.7,72.8
2022-11-22,Mexico,Poland,FIFA World Cup,Doha,Qatar,True,2022,9,1658,80.0,76.8,82.7,78.2,26,1544,87.0,75.2,84.7,75.8
2022-11-22,Denmark,Tunisia,FIFA World Cup,Al Rayyan,Qatar,True,2022,11,1653,85.0,80.2,77.7,80.2,35,1499,58.0,70.8,72.3,74.0
2022-11-22,France,Australia,FIFA World Cup,Al Wakrah,Qatar,True,2022,3,1789,87.0,84.2,88.3,86.8,42,1462,77.0,72.0,72.3,73.5
2022-11-23,Germany,Japan,FIFA World Cup,Al Rayyan,Qatar,True,2022,12,1650,90.0,84.0,82.7,87.8,23,1553,73.0,75.2,75.0,77.5

In [14]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal[('high', 'legacy')] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than

os objetos do pandas tem suas próprias de dados. Tudo começa com `DataFrames` e `Series`.

In [15]:
df = pd.read_csv('../../datasets/fifa_world_cup_2022/fifa_world_cup_2022.csv')

df.tail(10)

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
23911,2022-06-14,Ukraine,Republic of Ireland,Europe,Europe,27,47,1535,1449,1,...,No,Draw,75.0,75.0,74.8,78.7,80.0,76.5,72.7,73.8
23912,2022-06-14,Bosnia and Herzegovina,Finland,Europe,Europe,59,57,1388,1406,3,...,No,Win,76.0,83.0,74.2,77.0,78.0,70.0,72.3,73.5
23913,2022-06-14,Romania,Montenegro,Europe,Europe,48,70,1446,1342,0,...,No,Lose,77.0,65.0,73.5,73.7,75.0,76.2,74.7,68.2
23914,2022-06-14,Luxembourg,Faroe Islands,Europe,Europe,94,124,1229,1137,2,...,No,Draw,69.0,NaN,68.5,NaN,69.8,NaN,NaN,NaN
23915,2022-06-14,Turkey,Lithuania,Europe,Europe,43,138,1461,1092,2,...,No,Win,79.0,71.0,78.2,76.7,78.2,NaN,NaN,NaN
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
type(df.date)

pandas.core.series.Series

As `Series` têm diversos tipos de dados também, quase sempre análogos aos tipos básicos do python (mais info [aqui](https://pbpython.com/pandas_dtypes.html)).

> Tipos de dados são importantes. Sem prestar atenção a eles, assim como construção de software, podemos cair em muitos erros!

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

## Perguntas interessantes aos dados

Agora que vimos os dados, conseguimos pensar em como extrair insights deles? 

Aqui vão algumas perguntas, separadas em nível crescente de dificuldade e contexto, e que vão nos ajudar a entender mais desses dados e aprender mais juntos.

### 1. Dados gerais

- Qual o tamanho do dataset?
- Quantos países distintos há nas partidas?
- Quantos anos há de informação?
- Em quantas cidades temos registros de partidas?
- Quantas copas há no dataset?
- O que quer dizer a coluna `neutral_location`? Quantas partidas há em cada caso dessa coluna?

###  Qual o tamanho do dataset?

In [19]:
df.shape

(23921, 25)

### Quantos países distintos há nas partidas?

In [20]:
l = df.home_team.to_list() + df.away_team.to_list()
len(set(l))

211

### Quantos anos há de informação?

In [21]:
df['date'] = pd.to_datetime(df.date)
df['year'] = df['date'].dt.year

df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993

In [22]:
print("anos distintos: ", df.year.nunique())
print("min e max de anos: ", df.year.min(), df.year.max())

anos distintos:  30
min e max de anos:  1993 2022

### Em quantas cidades temos registros de partidas?

In [23]:
df.city.nunique()

1576

### Quantas copas há no dataset?

In [24]:
# usando referências de índices para ajudar

df[df.tournament.str.contains("FIFA")].tournament.unique()

array(['FIFA World Cup qualification', 'FIFA World Cup'], dtype=object)

In [25]:
df[df.tournament == 'FIFA World Cup'].year.unique()

array([1994, 1998, 2002, 2006, 2010, 2014, 2018])

### O que quer dizer a coluna `neutral_location`? Quantas partidas há em cada caso dessa coluna?

In [28]:
# Vendo na documentação do dataset, quer dizer
# se os times jogaram em local neutro ou a favor de um deles

# encontra locais onde foi neutro e seleciona colunas
df[df.neutral_location].sample(5)[['date', 'home_team', 'away_team', 'city', 'neutral_location']]

,date,home_team,away_team,city,neutral_location
23354,2022-01-05,Algeria,Ghana,Al Rayyan,True
7129,2003-06-20,Colombia,New Zealand,Lyon,True
22617,2021-06-08,Trinidad and Tobago,St. Kitts and Nevis,Santo Domingo,True
1247,1996-01-14,Côte d'Ivoire,Ghana,Port Elizabeth,True
10460,2007-06-08,Mexico,Cuba,East Rutherford,True

In [30]:
# encontra locais onde NÂO foi neutro e seleciona colunas
# repare o uso do operador '~'

df[~df.neutral_location].sample(5)[['date', 'home_team', 'away_team', 'city', 'neutral_location']]

            date   home_team   away_team        city  neutral_location
10199 2007-02-07    China PR  Kazakhstan   Guangzhou             False
17584 2015-03-31    Portugal  Cabo Verde     Estoril             False
21057 2019-03-26     Algeria     Tunisia       Blida             False
4737  2000-07-06  Cabo Verde      Angola       Praia             False
3350  1998-10-10  San Marino      Israel  Serravalle             False

# 2. Investigando mais a fundo

- Encontre as partidas do Brasil vs Alemanha
- Qual o time com mais vitórias? E no torneio da Copa?
- Qual o time com menos vitórias? e na Copa?
- Quantos jogos por ano? Quantos torneios por ano?
- Quantos países sediam jogos por ano? Qual país mais sediou jogos? 
- Quais times tem mais ofensa, defesa e meio campo?
- Existem times que nunca se enfrentaram?

<br>

<h3>Encontre as partidas do Brasil vs Alemanha

In [44]:
df_br = df[(df.home_team == 'Brazil') &  (df.away_team == 'Germany') | 
           (df.home_team == 'Germany') & (df.away_team == 'Brazil')]
df_br

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,year
131,1993-11-17,Germany,Brazil,Europe,South America,4,1,0,0,2,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
2950,1998-03-25,Germany,Brazil,Europe,South America,2,1,0,0,1,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998
3840,1999-07-24,Brazil,Germany,South America,Europe,1,5,0,0,4,...,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
6410,2002-06-30,Germany,Brazil,Europe,South America,11,2,0,0,0,...,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002
8318,2004-09-08,Germany,Brazil,Europe,South America,11,1,0,0,1,...,Draw,94.0,93.0,87.5,82.7,87.5,89.0,92.3,89.8,2004
8990,2005-06-25,Germany,Brazil,Europe,South America,21,1,0,0,2,...,Lose,94.0,93.0,87.5,82.7,87.5,89.0,92.3,89.8,2005
14204,2011-08-10,Germany,Brazil,Europe,South America,3,4,0,0,3,...,Win,86.0,86.0,82.0,83.3,82.2,84.5,84.0,81.8,2011
16931,2014-07-08,Brazil,Germany,South America,Europe,3,2,1242,1299,1,...,Lose,82.0,87.0,84.8,84.0,83.2,84.5,84.7,86.0,2014
20216,2018-03-27,Germany,Brazil,Europe,South America,1,2,1609,1489,0,...,Lose,92.0,83.0,85.8,82.0,87.5,86.8,87.0,83.8,2018

<h3> Qual o time com mais vitórias? E no torneio da Copa?

In [58]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score',
       'year'],
      dtype='object')

In [185]:
#pais com mais vitorias geral

#criando coluna para vencedores away pq só existe home
import numpy as np
condict = [
    (df['away_team_score']) > (df['home_team_score']),
    (df['away_team_score']) < (df['home_team_score']),
    (df['away_team_score']) == (df['home_team_score'])
]
values = ['Win', 'Lose', 'Draw']
df['away_team_result'] = np.select(condict, values)

df[['home_team', 'away_team','home_team_score',
    'away_team_score','home_team_result', 'away_team_result']].head()



# df['away_team_result'] = np.where(df['away_team_score'] > df['home_team_score'],
#                                   df['away_team_score'] < df['home_team_score'], 'Win','Lose')
# 
# df[(df['away_team_score']) > (df['home_team_score'])]

SyntaxError: invalid syntax (1859427206.py, line 15)

In [125]:
#pegando o resultado da galerinha que venceu em casa
df_vic_home = df[(df['home_team_result'] == 'Win')]
df_vic_home = df_vic_home.groupby(by=['home_team']).count().sort_values('home_team_result', ascending=False)
df_vic_home['home_team_result'].head().to_frame()

              home_team_result
home_team
USA                        194
Mexico                     190
Brazil                     181
Saudi Arabia               164
Egypt                      163

In [160]:
#agora só quem venceu fora
df_vic_away = df[(df.away_team_result) == 'Win']
df_vic_away = df_vic_away.groupby('away_team').count().sort_values('away_team_result', ascending=False)
df_vic_away.away_team_result.head().to_frame()

           away_team_result
away_team
Brazil                  116
Germany                 100
Spain                    99
France                   85
Zambia                   85

In [161]:
#deixando os indices iguais pra poder mergear com o parametro de chaves "on"
vv = df_vic_away
vv.index.name = 'paises'
cc = df_vic_home
cc.index.name = 'paises'

In [174]:
#mergeando e vendo que isso ficou uma bagunça :rsrs:
#vamos considerar só as colunas importantes...
aa = pd.merge(vv,cc, on=['paises'])
aa['total_wins'] = (aa['home_team_result_x']) + (aa['away_team_result_y'])
aa = aa.sort_values('total_wins', ascending=False)
aa.total_wins.head().to_frame()

         total_wins
paises
Brazil          297
Mexico          270
Spain           244
USA             242
Germany         239

<br>

In [209]:
#pais com mais vitorias somente na copa
# the process é parecido, mas tem que filtrar os camp
cup_vic = df[df.tournament == 'FIFA World Cup']
cup_vic[['home_team', 'away_team','home_team_score',
    'away_team_score','home_team_result', 'away_team_result']].head(1)

,home_team,away_team,home_team_score,away_team_score,home_team_result,away_team_result
385,Germany,Bolivia,1,0,Win,Lose

In [221]:
#filtrando só os vencedores :eyes:
cup_vic_home = cup_vic[(cup_vic.home_team_result) == 'Win']
cup_vic_away = cup_vic[(cup_vic.away_team_result) == 'Win']

In [222]:
#somente vencedores em casa
cup_vic_home = cup_vic_home.groupby('home_team').count().sort_values('home_team_result', ascending=False)
cup_vic_home.home_team_result.head().to_frame()

             home_team_result
home_team
Brazil                     24
Germany                    21
Argentina                  17
France                     14
Netherlands                12

In [223]:
#somente vencedores de fora
cup_vic_away = cup_vic_away.groupby('away_team').count().sort_values('away_team_result', ascending=False)
cup_vic_away.away_team_result.head().to_frame()

             away_team_result
away_team
Spain                       9
Croatia                     9
Brazil                      8
Germany                     8
Netherlands                 7

In [228]:
#bora juntar esses caras
cup_vic_home.index.name = 'paises'
cup_vic_away.index.name = 'paises'
cup_geral = pd.merge(cup_vic_home,cup_vic_away, on=['paises'])
cup_geral['total_wins'] = (cup_geral['home_team_result_x']) + (cup_geral['away_team_result_y'])
cup_geral.total_wins.head().to_frame()

             total_wins
paises
Brazil               32
Germany              29
Argentina            20
France               20
Netherlands          19

<br>

<h3>- Qual o time com menos vitórias? e na Copa?

In [234]:
#da pra reutilizar o que ja foi feito, basta reutilizarmos com sort_values
# que por padrao tem o ascending como True
#o pais que menos ganhou em geral.
piores = aa.sort_values('total_wins')
piores.total_wins.head().to_frame()

                total_wins
paises
Anguilla                 2
American Samoa           4
Gibraltar                5
Cook Islands             5
Somalia                  5

In [236]:
#O pais que menos ganhou na Cup
cup_piores = cup_geral.sort_values('total_wins')
cup_piores.total_wins.head().to_frame()

               total_wins
paises
Norway                  2
Ukraine                 2
Poland                  3
Côte d'Ivoire           3
Saudi Arabia            3

<br>

<h3>Quantos jogos por ano? Quantos torneios por ano?

In [293]:
#jogos totais, considerando todos camps
jogos_anual = df[['home_team', 'year']]
jogos_anual = jogos_anual.groupby('year')['home_team'].count()
jogos_anual.to_frame()

      home_team
year
1993        171
1994        494
1995        564
1996        781
1997        797
1998        636
1999        670
2000        993
2001        953
2002        701
2003        851
2004       1016
2005        741
2006        763
2007        910
2008       1034
2009        836
2010        790
2011       1022
2012        927
2013        942
2014        788
2015        938
2016        867
2017        885
2018        830
2019       1075
2020        298
2021       1077
2022        571

In [272]:
#to em duvida desse resultado haha. o numero aparenta mais ser partidas disputadas em cada camp
#mas de certa forma, o indice ainda responde quantos torneios por ano...
#help haha
torneios = df[['home_team', 'away_team','tournament', 'year']]
torneios = torneios.groupby(['year','tournament'])['tournament'].count()
torneios.to_frame()

                                           tournament
year tournament
1993 African Cup of Nations qualification           2
     Amílcar Cabral Cup                            13
     FIFA World Cup qualification                  94
     Friendly                                      62
1994 African Cup of Nations                        17
...                                               ...
2022 FIFA World Cup qualification                  99
     Friendly                                     168
     Kirin Cup                                      4
     Navruz Cup                                     4
     UEFA Nations League                          107

[579 rows x 1 columns]

<br>

<h3> Quantos países sediam jogos por ano? Qual país mais sediou jogos?

In [274]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score', 'year',
       'away_team_result'],
      dtype='object')

In [382]:
#quantos paises sediam jogos por ano
promotores = df[['year', 'country']]
promotores = promotores.groupby(['year','country']).count()
promotores
#nao consegui chegar no resultado separado anualmente contado

Empty DataFrame
Columns: []
Index: [(1993, Albania), (1993, Algeria), (1993, Argentina), (1993, Australia), (1993, Austria), (1993, Bangladesh), (1993, Belgium), (1993, Bolivia), (1993, Brazil), (1993, Bulgaria), (1993, Cameroon), (1993, Colombia), (1993, Congo), (1993, Cyprus), (1993, Denmark), (1993, Ecuador), (1993, England), (1993, Estonia), (1993, Eswatini), (1993, Faroe Islands), (1993, Finland), (1993, France), (1993, French Polynesia), (1993, Gabon), (1993, Gambia), (1993, Germany), (1993, Ghana), (1993, Greece), (1993, Guinea), (1993, Hungary), (1993, Iceland), (1993, Israel), (1993, Italy), (1993, Japan), (1993, Kenya), (1993, Korea Republic), (1993, Liechtenstein), (1993, Luxembourg), (1993, Mali), (1993, Malta), (1993, Mexico), (1993, Morocco), (1993, Netherlands), (1993, Nigeria), (1993, Northern Ireland), (1993, Norway), (1993, Paraguay), (1993, Peru), (1993, Poland), (1993, Portugal), (1993, Qatar), (1993, Republic of Ireland), (1993, Romania), (1993, Saudi Arabia), (1993, Scotland), (1993, Sierra Leone), (1993, Spain), (1993, Sweden), (1993, Switzerland), (1993, Tunisia), (1993, Turkey), (1993, USA), (1993, United Arab Emirates), (1993, Uruguay), (1993, Venezuela), (1993, Wales), (1993, Zambia), (1993, Zimbabwe), (1994, Albania), (1994, Algeria), (1994, Angola), (1994, Argentina), (1994, Armenia), (1994, Australia), (1994, Austria), (1994, Barbados), (1994, Belarus), (1994, Belgium), (1994, Bolivia), (1994, Botswana), (1994, Brazil), (1994, Bulgaria), (1994, Burkina Faso), (1994, Cameroon), (1994, Canada), (1994, Cayman Islands), (1994, Chile), (1994, Colombia), (1994, Congo), (1994, Croatia), (1994, Cyprus), (1994, Czech Republic), (1994, Côte d'Ivoire), (1994, Denmark), (1994, Dominican Republic), (1994, Ecuador), (1994, Egypt), (1994, England), (1994, Estonia), (1994, Eswatini), ...]

[4543 rows x 0 columns]

In [366]:
#qual pais mais sediou jogos
maior_sediador = df[['home_team', 'country']]
maior_sediador.groupby('country').count().sort_values('home_team', ascending=False).head()

                      home_team
country
USA                        1003
South Africa                505
United Arab Emirates        462
Qatar                       461
France                      445

<br>
<h3>Quais times tem mais ofensa, defesa e meio campo?

In [387]:
tecnica = df[['home_team','away_team','home_team_mean_offense_score','away_team_mean_offense_score',
    'home_team_mean_midfield_score', 'away_team_mean_midfield_score',
   'home_team_mean_defense_score', 'away_team_mean_defense_score']].dropna(thresh=3)
tecnica.head()

,home_team,away_team,home_team_mean_offense_score,away_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_midfield_score,home_team_mean_defense_score,away_team_mean_defense_score
8263,Netherlands,Liechtenstein,93.0,NaN,87.0,NaN,85.0,NaN
8264,Spain,Scotland,89.3,79.7,89.5,81.8,86.5,80.2
8265,Albania,Greece,59.0,83.7,74.5,85.2,NaN,82.8
8266,Austria,England,73.0,88.7,74.0,91.2,76.2,90.5
8267,Azerbaijan,Wales,NaN,79.3,NaN,80.5,NaN,71.5

In [402]:
# time com mais ofensiva em casa
team_offense = tecnica.sort_values('home_team_mean_offense_score', ascending=False)
team_offense[['home_team', 'home_team_mean_offense_score']].drop_duplicates(subset='home_team').head(3)

        home_team  home_team_mean_offense_score
8263  Netherlands                          93.0
8866       France                          93.0
9679       Brazil                          92.7

In [401]:
# time com mais ofensiva fora
team_offense_away = tecnica.sort_values('away_team_mean_offense_score', ascending=False)
team_offense_away[['away_team', 'away_team_mean_offense_score']].drop_duplicates(subset='away_team').head(3)

        away_team  away_team_mean_offense_score
8485  Netherlands                          93.0
8427       France                          93.0
9282       Brazil                          92.7

In [400]:
#time com melhor meio de campo em casa
team_midfield = tecnica.sort_values('home_team_mean_midfield_score', ascending=False)
team_midfield[['home_team', 'home_team_mean_midfield_score']].drop_duplicates(subset='home_team').head(3)

     home_team  home_team_mean_midfield_score
8866    France                           93.2
9718    Brazil                           92.0
8770   England                           91.2

In [399]:
#time com melhor meio de campo fora
team_midfield_away = tecnica.sort_values('away_team_mean_midfield_score', ascending=False)
team_midfield_away[['away_team', 'away_team_mean_midfield_score']].drop_duplicates(subset='away_team').head(3)

     away_team  away_team_mean_midfield_score
8427    France                           93.2
9499    Brazil                           92.0
8865   England                           91.2

In [404]:
#time com maior defesa em casa
team_defense = tecnica.sort_values('home_team_mean_defense_score', ascending=False)
team_defense[['home_team', 'home_team_mean_defense_score']].drop_duplicates(subset='home_team').head(3)

     home_team  home_team_mean_defense_score
8434     Italy                          91.8
8811   England                          90.5
8910    Brazil                          89.0

In [407]:
#time com maior defesa fora
team_defense_away = tecnica.sort_values('away_team_mean_defense_score', ascending=False)
team_defense_away[['away_team', 'away_team_mean_defense_score']].drop_duplicates(subset='away_team').head(3)

     away_team  away_team_mean_defense_score
8896     Italy                          91.8
8524   England                          90.5
8921    Brazil                          89.0

<br>


    
# 3. Plots
- Plote o número de gols médio por ano
- Adicione no gráfico anterior o mínimo e máximo de gols por ano
- Plote o número de times em partidas por ano
- Plote o Ranking da FIFA do Brasil e Argentina por ano
- Plote o ataque, defesa e meio de campo do Brasil e Argentina por ano

# 3. Estatística

#### Distribuições e Histogramas

#### Correlações
- O que é uma distribuição de dados? 
- Como é a distribuição de gols por jogo nos jogos do Brasil? Muda se for home_team? ou away_team?
- Como é a mesma distribuição para todos os jogos de Copas?
- Como podemos ver distribuição de placares de jogos?

# 4. Previsões
- Pense e escreva uma estratégia para prever vencedores de partidas na Copa de 2022. O que você levaria em conta? Quais as limtações? 
- Use sua estratégia para prever os finalistas da fase de grupos de 2022
- Faça uma estratégia simples para prever o vencedor da Copa de 2022